* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "IBM Plex Sans";
    display: flex;
    flex-direction: column;
}

nav {
    width: 320px;
    height: 44px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 10px;
}

/* Aquí inicia Menú Hamburguesa */

.menu-hamburguesa {
    position: relative;
}

.menu {
    display: flex;
    align-content: space-between;
    justify-content: center;
}

.input-menu {
    display: none;
}

.input-menu:checked ~ .cont-menu {
    bottom: -205px;
    transform: translateX(10%);
    transition: all .4s ease-in-out;

}

.label-menu {
    cursor: pointer;
    position: relative;
    width: 18px;
    height: 12px;
    display: block;
}

.label-menu div {
    width: 18px;
    height: 2px;
    border-radius: 3px;
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
}

.label-menu div:nth-child(2) {
    top: 4px;
}

.label-menu div:last-child {
    top: 8px;
}

.cont-menu {
    position: absolute;
    bottom: -205px;
    left: 0px;
    transform: translateX(-81%);
    transition: all .4s ease-in-out;
}

.cont-menu,
.cont-menu ul,
.cont-menu li,
.cont-menu a {
    width: 100vw;
}

.cont-menu li{
    list-style: none;
    border-bottom: 1px solid white;
}

.cont-menu a {
    text-decoration: none;
    padding: 15px 20px;
    background-color: #0000FF;
    display: block;
    color: white;
}

/* Aquí termina Menú Hamburguesa */

header {
    background-color: burlywood;
    width: 320px;
    padding: 29px 16px 24px 16px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #060A24;
}

.titulo {
    margin-bottom: 16px;
    font-family: "IBM Plex Sans";
    display: flex;
    flex-direction: column;
}

.tachado {
    text-decoration: line-through;
}

.blue-dot {
    color: #060A24;
}

p {
    font-family: "IBM Plex Mono";
}

.intro {
    font-size: 14px;
}

.bt1 {
    width: 288px;
    height: 48px;
    margin-top: 36px;
    background-color: #00F3BB;
    border-radius: 1px;
    border: none;
    font-size: 16px;
    line-height: 22px;
    font-family: 'IBM Plex Mono', monospace;
}

.bt1:hover {
    background-image: linear-gradient(90deg, #00F0B8, #0000FE);
    transition: all .1s ease-in-out;
    color: #ffffff;
}

main {
    width: 320px;
    height: 1203.5px;
    background-color: lawngreen;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rectangulo1 {
    width: 320px;
    height: 1203.5px;
}

.azul {
    background: linear-gradient(#0000FF, #0000A3) ;
}

.mascara-paralelogramo {
    clip-path: polygon(0px 50px, 320px 0px, 320px 1153.5px, 0px 1203.5px);
}

.subtitulo1 {
    color: white;
    padding: 64px 16px 21px 16px;
}

.reproductor {
    width: 298px;
    height: 100;
    margin-bottom: 11px;
}

.texto1 {
    margin: 0px 16px 0px 16px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.phone {
    width: 360px;
    height: 519px;
    margin-top: -110px;
    position: relative;
    right: 20px;
    display: flex;
}

.seccion2 {
    background-color: burlywood;
    width: 320px;
    height: 300px;
}

.subtitulo2 {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    padding: 27px 0px 8px 0px;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
}

.subtitulo3 {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    padding: 54px 0px 14px 0px;
    margin-left: 16px;
}

.seccion3 {
    background-color: coral;
    width: 320px;
}

.img {
    width: 320px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.seccion4 {
    background-color: blanchedalmond;
    width: 320px;
}

.subtitulo4 {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    padding: 48px 0px 37px 0px;
    margin-left: 16px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.semibold {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
}

.seccion5 {
    background-color: ;
    width: 320px;
    height: 341px;
    padding: 64px 16px 36px 16px;
    display: flex;
    flex-direction: column;
}

.subtitulo5 {
    color: white;
    font-size: 36px;
    line-height: 42px;

}

.bt2 {
    width: 288px;
    height: 48px;
    margin-top: 36px;
    background-color: #00F3BB;
    border-radius: 1px;
    border: none;
    font-size: 16px;
    line-height: 22px;
    font-family: 'IBM Plex Mono', monospace;
}

.bt2:hover {
    background-image: linear-gradient(90deg, #00F0B8, #0000FE);
    transition: all .1s ease-in-out;
    color: #ffffff;
}

footer {
    background-color: aqua;
    width: 320px;
    height: px;
    display: flex;
    flex-direction: column;
}

.copyright {
    padding: 24px 47px 16px 47px;
    font-size: 14px;
    color: #060A24;
    display: flex;
    justify-content: center;

}

.social-media {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0 45px;
    margin-bottom: 41px;
}
